name: Deploy .NET 8 Web API to Azure Web App

on:
  push:
    branches:
      - main  # Deploy only when code is pushed to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.x'  # Use .NET 8

    - name: Set up dependency caching for faster builds
      uses: actions/cache@v3
      with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

    - name: Build the .NET app
      run: dotnet build --configuration Release 
      working-directory: backend

    - name: Publish the app
      run: dotnet publish -c Release -o publish_output
      working-directory: backend

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'apiss6vrhey'  # Replace with your Azure Web App name
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: backend/publish_output

