name: Deploy Vite App to Azure Blob Storage

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: Set up Node.js
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20' # Use the appropriate Node.js version

    # Step 3: Install dependencies
    - name: Install dependencies
      run: npm ci
      working-directory: frontend

    # Step 4: Build the Vite app
    - name: Build Vite app
      run: npm run build
      working-directory: frontend

    # Step 5: Upload build output as an artifact (optional)
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build
        path:  frontend/dist

    # Step 6: Install Azure CLI
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Azure CLI script
      uses: azure/cli@v2
      with:
        azcliversion: latest
        inlineScript: |
          az storage blob upload-batch \
            --account-name stgss6vrhey \
            --account-key ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }} \
            --destination '$web' \
            --source frontend/dist \
            --overwrite

        

